body {
    background-color: #080808;
}

.navbar {
    background-color: #227c5a;
    width: 100%;
    position: fixed;
}

.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .menu h1 a {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    text-decoration: none;
    text-shadow: 2px 4px #ff008c;
}

.navbar .menu ul {
    align-items: center;
}

.navbar .menu li a {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .menu li {
    display: inline-block;
    padding: 10px;
}

.about {
    padding: 100px;
    padding-top: 17.5%;
    padding-bottom: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about img {
    padding-right: 50px;
    border-radius: 50%;
}

.about h1 {
    color: #4dffb5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    text-shadow: 2px 4px #ff249d;

}

.about p {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: justify;
}


.about .introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 75%;
}


.works {
    background-color: rgb(17, 17, 17);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works h1 {
    color: #4dffb5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    text-shadow: 2px 4px #ff249d;
    padding-bottom: 40px;
}

.works h2 {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-shadow: 2px 2px #227c5a;

}

.works p {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding-left: 1%;
    padding-bottom: 1%;
}

.works a {
    color:#ff249d;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding-left: 1%;
    padding-right: 1%;
}

.works .project {
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.works .screenshots {
    display: flex;
}

.works .screenshots .image {
    flex: 33.3%;
    padding: 10px;
}
  
  